.w-4 {
  width: 1rem;
}
.h-4 {
  height: 1rem;
}

.w-6 {
  width: 1.5rem;
}
.h-6 {
  height: 1.5rem;
}
.button{
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-emphasis-color: none;
  background-color: rgb(248, 7, 7);
}
.button:hover {
  color: rgb(255, 255, 255);
}
.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  border-image: none;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

